@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.pokemon-list {
  width: 20vw;
  height: auto;
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: $clr-primary-3;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;

  &::-webkit-scrollbar {
    display: none;
  }

  .pokemon {
    color: $clr-white;
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 5vh;
    width: 13vw;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    border-bottom: 1px solid $clr-black;
    &:hover {
      background-color: $clr-primary-4;

      img {
        transform: rotate(180deg);
      }
    }

    .pokeName {
      padding-left: 1rem;
      width: 10vw;
      align-self: center;
      // height: 100%;
      margin: 0;
      vertical-align: center;
    }

    .id {
      text-align: right;
      // height: inherit;
      // align-self: baseline;
      margin: 0;
      // width: auto;
    }

    img {
      position: relative;
      right: 0;
      width: 40px;
      transition: $transition;
    }
  }
}
