*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted bl;
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 0.875rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #e0e0e0;
  color: #b82e2e;
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}

.wrapper {
  text-align: center;
  padding-top: 2rem;
}
.wrapper .stories {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .wrapper .stories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45vw, 45vw));
    flex-direction: row;
    align-items: normal;
    justify-content: center;
  }
}

.pokemon-list {
  width: 20vw;
  height: auto;
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #b82e2e;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pokemon-list::-webkit-scrollbar {
  display: none;
}
.pokemon-list .pokemon {
  color: #fff;
  display: grid;
  cursor: pointer;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 5vh;
  width: 13vw;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  border-bottom: 1px solid #222;
}
.pokemon-list .pokemon:hover {
  background-color: #ce3b3b;
}
.pokemon-list .pokemon:hover img {
  transform: rotate(180deg);
}
.pokemon-list .pokemon .pokeName {
  padding-left: 1rem;
  width: 10vw;
  align-self: center;
  margin: 0;
  vertical-align: center;
}
.pokemon-list .pokemon .id {
  text-align: right;
  margin: 0;
}
.pokemon-list .pokemon img {
  position: relative;
  right: 0;
  width: 40px;
  transition: all 0.1s linear;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pokemon-info .pokemon-name {
  text-align: center;
}
.pokemon-info .sprite {
  align-self: center;
  border-radius: 0.25rem;
  background-color: #bdbdbd;
  border: 1px #222 solid;
  width: 50vw;
  display: flex;
  justify-content: center;
}
.pokemon-info .sprite img {
  height: 30vh;
}
.pokemon-info .types {
  display: flex;
  align-self: center;
  color: #fff;
  margin-top: 0.5rem;
}
.pokemon-info .types .type {
  width: 8vw;
  text-align: center;
  vertical-align: center;
  border-radius: 0.25rem;
}
.pokemon-info .types .type:first-of-type {
  margin-right: 1rem;
}
.pokemon-info .types .grass {
  background: #78c850;
}
.pokemon-info .types .fire {
  background: #f08030;
}
.pokemon-info .types .water {
  background: #6890f0;
}
.pokemon-info .types .bug {
  background: #a8b820;
}
.pokemon-info .types .normal {
  background: #a8a878;
}
.pokemon-info .types .poison {
  background: #a040a0;
}
.pokemon-info .types .electric {
  background: #f8d030;
}
.pokemon-info .types .ground {
  background: #e0c068;
}
.pokemon-info .types .fairy {
  background: #ee99ac;
}
.pokemon-info .types .fighting {
  background: #c03028;
}
.pokemon-info .types .psychic {
  background: #f85888;
}
.pokemon-info .types .rock {
  background: #b8a038;
}
.pokemon-info .types .ghost {
  background: #705898;
}
.pokemon-info .types .ice {
  background: #98d8d8;
}
.pokemon-info .types .dragon {
  background: #7038f8;
}
.pokemon-info .abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.pokemon-info .abilities h4 {
  text-align: center;
  width: 100vw;
  padding-top: 1rem;
}
.pokemon-info .abilities .ability {
  width: 10vw;
  height: 5vh;
  background-color: #bdbdbd;
  border-radius: 0.25rem;
  display: flex;
  vertical-align: center;
  align-self: center;
  justify-content: center;
}
.pokemon-info .abilities .ability p {
  text-align: center;
  align-self: center;
  margin-bottom: 0;
}
.pokemon-info .physical-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.pokemon-info .physical-info h4 {
  width: 100%;
  text-align: center;
}
.pokemon-info .physical-info div {
  background: #bdbdbd;
  width: 7vw;
  text-align: center;
  vertical-align: center;
  border-radius: 0.25rem;
}
.pokemon-info .moves {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}
.pokemon-info .moves h3 {
  width: 100vw;
  text-align: center;
}
.pokemon-info .moves .move {
  width: 20vw;
  text-align: center;
}

.story {
  width: 80vw;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 2rem;
  text-align: left;
  position: relative;
}
.story h2 {
  font-size: 1.5rem;
  color: #e49595;
  font-weight: bolder;
}
.story p {
  font-size: 1.1rem;
  color: #ecb1b1;
}
.story .buttons {
  position: absolute;
  bottom: 1rem;
}
.story .buttons a {
  color: #222;
  font-weight: bold;
}
.story .buttons button {
  padding-left: 2rem;
  color: #ca1616;
}

@media only screen and (min-width: 768px) {
  .story {
    width: 45vw;
  }

  h2 {
    font-size: 1.5rem;
    color: #e49595;
    font-weight: bolder;
  }
}
.search-form {
  width: 20vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.search-form .form-input {
  width: 100%;
  border: transparent;
  max-width: 920px;
  background: #fff;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #737373;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
.search-form .form-input .error {
  color: #ca1616;
  text-transform: capitalize;
  padding-top: 0.5rem;
  letter-spacing: 0.1rem;
}

.pages-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.pages-wrapper:last-of-type {
  margin: 2rem 0;
}
.pages-wrapper button {
  background: #fff;
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
}
.pages-wrapper p {
  font-weight: bolder;
  font-size: 1.2rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #cfcfcf;
  border-bottom: 2px solid #222;
}
.navbar .searchbar {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}/*# sourceMappingURL=main.css.map */